body {
  font-family: Arial;
  background: linear-gradient(to right, #4ca1af, #2c3e50);
  padding: 20px;
}

h1 {
  text-align: center;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-section,
.event-section,
.dom-section {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

